--# -coding=latin1

concrete Domain{{language}} of Domain = Clause{{language}} ** open Syntax{{language}}, Paradigms{{language}} in {


{{#lincat}}
lincat {{{.}}}
{{/lincat}}


{{#lin}}
lin {{{.}}}
{{/lin}} 


{{#oper}}
oper {{{.}}}
{{/oper}}

}